<div *ngIf="mostrar">
  <div>Información</div>
  <div>
    <p>
      {{ frase.Nombre }}
    </p>
    <p class="card-text">
      {{ frase.Direccion }}
    </p>
  </div>
</div>

<button (click)="mostrar = !mostrar" class="btn btn-outline-primary">
  mostrar/ocultar
</button>